<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
   <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="3rdnuget" value="https://pkgs.dev.azure.com/Training-3rdWave/19e4531d-5a9c-4805-8bef-402e22637abb/_packaging/3rdnuget/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceCredentials>
 <!--   <telerik.com>
      <add key="Username" value="ahmed.galindo@outlook.com" />
      <add key="ClearTextPassword" value="6*2&amp;j6VqGBxbEt3y" />
    </telerik.com>
    <Atcc.Sitecore>
      <add key="Username" value="PATToken" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAANa8QubYW/US7Em2UW0dhjwAAAAACAAAAAAADZgAAwAAAABAAAABPGJYGkAcMuefu3Gl3wIOLAAAAAASAAACgAAAAEAAAAM/eI1H+ScrvqUWxdj0wh1w4AAAAOSsZXi9R0Nh5lNqk2OfFoUngA30MUlGYTfAsiernVOXo5ryhK3EM5l/gPYLkIJbNbqLz3xN5ty0UAAAAzXxlCjWNKC7GQ4u7CKG49gcp2Aw=" />
    </Atcc.Sitecore> -->
  </packageSourceCredentials>
</configuration>